# Supabase Configuration
# Create a Supabase project at https://supabase.com and copy credentials here.
# If these are not provided, Web Notepad automatically works in Guest / Offline mode with localStorage!

NEXT_PUBLIC_SUPABASE_URL=https://cikmahcktichrmoqaszw.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImNpa21haGNrdGljaHJtb3Fhc3p3Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3OTAxMDQ0MTQsImV4cCI6MjEwNTY4MDQxNH0.adtwGaI86riNWqlY9wWJs7uTKL4m2weuF5diVixOY8E

